<section class="sec-color">
    <div class="buttons-admin-news">
        <span><a href="<?php echo BASE_URL; ?>perfil/actualizarPerfil/<?php echo $this->user['id_cliente']; ?>"><img src="<?php echo $_layoutParams['layout_img']; ?>general/ic_edit.png" alt="" class="ico-small" />Editar</a></span>
    </div>
    <div class="user-info">
        <p>Nombre de usuario: <?php echo $this->user['username']; ?></p>
        <p>Email: <?php echo $this->user['email']; ?></p>
        <p>Nombre: <?php echo $this->user['nombre']; ?></p>
        <p>Apellidos: <?php echo $this->user['apellidos']; ?></p>
        <p>Fecha de nacimiento: <?php echo $this->user['fecha_nacimiento']; ?></p>
        <p>Dirección: <?php echo $this->user['direccion']; ?></p>
        <p>Provincia: <?php echo $this->user['provincia']; ?></p>
        <p>Pueblo: <?php echo $this->user['pueblo']; ?></p>
        <p>Código postal: <?php echo $this->user['cod_postal']; ?></p>
    </div>
    <div>
        <p><a href="<?php echo BASE_URL; ?>perfil/verFacturas/<?php echo $this->user['email'] ?>">Ver Facturas</a></p>
    </div>
    <div class="end-buttons">
        <a href="<?php echo BASE_URL ?>">Volver a la página de inicio</a>
    </div>
</section>