<div class="sec-color">
    <h3><?php if(isset($this->_error)) echo $this->_error; ?></h3>
</div>
<section class="sec-color">
    <form action="<?php echo BASE_URL; ?>perfil/update" method="POST" enctype="multipart/form-data" class="user-info">
        <fieldset>
            <input type="hidden" name="id" value="<?php echo $this->perfil[0]['id_cliente']; ?>" />
            <legend>Actualizar Perfil</legend>
            <label for="username">Username:</label>
            <input type="text" name="username" value="<?php echo $this->perfil[0]['username']; ?>" disabled="disabled"/><br>
            <label for="username">Email:</label>
            <input type="text" name="email" value="<?php echo $this->perfil[0]['email']; ?>" /><br>
            <label for="username">Nombre:</label>
            <input type="text" name="nombre" value="<?php echo $this->perfil[0]['nombre']; ?>" disabled="disabled"/><br>
            <label for="username">Apellidos:</label>
            <input type="text" name="apellidos" value="<?php echo $this->perfil[0]['apellidos']; ?>" disabled="disabled"/><br>
            <label for="username">Fecha de nacimiento:</label>
            <input type="text" name="fecha_nacimiento" value="<?php echo $this->perfil[0]['fecha_nacimiento']; ?>" disabled="disabled"/><br>
            <label for="username">Dirección:</label>
            <input type="text" name="direccion" value="<?php echo $this->perfil[0]['direccion']; ?>" /><br>
            <label for="username">Provincia:</label>
            <input type="text" name="provincia" value="<?php echo $this->perfil[0]['provincia']; ?>" disabled="disabled"/><br>
            <label for="username">Pueblo:</label>
            <input type="text" name="pueblo" value="<?php echo $this->perfil[0]['pueblo']; ?>" disabled="disabled"/><br>
            <label for="username">Código postal:</label>
            <input type="text" name="cod_postal" value="<?php echo $this->perfil[0]['cod_postal']; ?>" disabled="disabled"/><br>
            
            <input type="submit" value="Enviar" name="btn-submit" class="primary button-primary"/>
            <input type="reset" value="Reset" name="btn-submit" class="primary button-secondary"/>
        </fieldset>
    </form>
    <div class="user-info">
    </div>
</section>
<!--id_noticia INTEGER UNSIGNED NOT NULL AUTO_INCREMENT,
  username VARCHAR(45) NOT NULL,
  titulo VARCHAR(200) NULL,
  cuerpo VARCHAR(255) NULL,
  fecha_registro DATETIME NULL,
  fecha_modificacion DATETIME NULL,
  img_url VARCHAR(255) NULL,-->