<!-- Mostrar seccion noticias -->
<section class="news sec-color">
    <div class="news-wrapper">
        <?php foreach ($this->clie as $clie): ?>
        <article class="sec-color">
            <header>
                <h4>Numero de pedido: <?php echo $clie['codigo_pedido'] ?></h4>
            </header>
            <div>
                <p>Fecha: <?php echo $clie['fecha'] ?></p>
                <p><a href="<?php echo BASE_URL; ?>pdf/pdffactura/<?php echo $clie['codigo_pedido'] ?>" target="_blank">Ver Factura</a></p>
            </div>
        </article>
        <?php endforeach; ?>
    </div>
</section>