<!-- Mostrar seccion noticias -->
<section class="news sec-color">
    <h2>Noticias</h2>
    <div class="news-wrapper">
        <?php foreach ($this->noticias as $noticia): ?>
        <article class="sec-color">
            <header>
                <h4><?php echo $noticia['titulo']; ?></h4>
                <div class="buttons-admin-news">
                    <span><a href="<?php echo BASE_URL; ?>adminpanel/actualizarNoticia/<?php echo $noticia['id_noticia']; ?>"><img src="<?php echo $_layoutParams['layout_img']; ?>general/ic_edit.png" alt="" class="ico-small" />Editar</a></span>
                    <span><a href="<?php echo BASE_URL; ?>adminpanel/delete/<?php echo $noticia['id_noticia']; ?>"><img src="<?php echo $_layoutParams['layout_img']; ?>general/ic_clear.png" alt="" class="ico-small" />Eliminar</a></span>
                </div>
            </header>
            <figure>
                <img src="<?php echo BASE_URL . $noticia['img_url']; ?>" alt="<?php echo $noticia['titulo']; ?>" />
            </figure>
            <div>
                <div>
                    <p>Última modificación: <?php echo $noticia['fecha_modificacion']?></p>
                </div>
                <p><?php echo $noticia['cuerpo'] ?></p>
                <div>
                    <p><a href="<?php echo BASE_URL; ?>adminpanel/verNoticia/<?php echo $noticia['id_noticia'] ?>">Ver Notícia</a></p>
                </div>
            </div>
        </article>
        <?php endforeach; ?>
    </div>
    <div class="paginador">
        <?php if(isset($this->paginacion)){ echo $this->paginacion; } ?>
    </div>
</section>