<?php if(isset($this->_error)): ?>
<section class="sec-color">
    <h3><?php echo $this->_error; ?></h3>
</section>
<?php endif; ?>
<section class="sec-color">
    <h2>Modificar Noticia</h2>
    <figure class="mod-img">
        <img src="<?php echo BASE_URL . $this->noticia[0]['img_url']; ?>" alt="img"/>
    </figure>
    <form action="<?php echo BASE_URL; ?>adminpanel/update" method="POST" enctype="multipart/form-data" class="formulary add-new">
        <fieldset>
            <input type="hidden" name="data" value="<?php echo $this->noticia[0]['id_noticia']; ?>" />
            <p>Agregrar notícia</p>
            <label>Imágen:</label>
            <input name="imagen-noticia" type="file" />
            <label >Título:</label>
            <input type="text" name="titulo" value="<?php echo $this->noticia[0]['titulo']; ?>" placeholder="" />
            <label >Mensaje</label>
            <textarea name="cuerpo" placeholder=""><?php echo $this->noticia[0]['cuerpo']; ?></textarea>

            <input type="submit" value="Enviar" name="btn-submit" class="primary button-primary"/>
            <input type="reset" value="Reset" name="btn-submit" class="primary button-secondary"/>
        </fieldset>
    </form>
</section>