<?php if(isset($this->_error)): ?>
<section class="sec-color">
    <h3><?php echo $this->_error; ?></h3>
</section>
<?php endif; ?>
<section class="sec-color">
    <h2>Nueva Notícia</h2>
    <form action="<?php echo BASE_URL; ?>adminpanel/create" method="POST" enctype="multipart/form-data" class="formulary add-new">
        <fieldset>
            <legend>Agregrar notícia</legend>
            <label>Imágen:</label>
            <input name="imagen-noticia" type="file" />
            <label>Título:</label>
            <input type="text" name="titulo" value="" placeholder="Título de la notícia" />
            <label>Mensaje</label>
            <textarea name="cuerpo" placeholder=""></textarea>

            <input type="submit" value="Enviar" name="btn-submit" class="primary button-primary"/>
            <input type="reset" value="Reset" name="btn-submit" class="primary button-secondary"/>
        </fieldset>
    </form>
</section>
