<section class="news sec-color">
    <header>
        <h3>Notícia</h3>
    </header>
    
    <div class="news-wrapper">
        <article>
            <header>
                <h4><?php echo $this->noticia['titulo']; ?></h4>
                <div class="buttons-admin-news">
                    <span><a href="<?php echo BASE_URL; ?>adminpanel/actualizarNoticia/<?php echo $this->noticia['id_noticia'] ?>"><img src="<?php echo $_layoutParams['layout_img']; ?>general/ic_edit.png" alt="" class="ico-small" />Editar</a></span>
                    <span><a href="<?php echo BASE_URL; ?>adminpanel/delete/<?php echo $this->noticia['id_noticia'] ?>"><img src="<?php echo $_layoutParams['layout_img']; ?>general/ic_clear.png" alt="" class="ico-small" />Eliminar</a></span>
                </div>
            </header>
            <figure>
                <img src="<?php echo BASE_URL . $this->noticia['img_url']; ?>" alt="<?php echo $this->noticia['titulo']; ?>" />
                <p>Escrito por: <?php echo $this->noticia['username']; ?></p>
                <p>Modificado: <?php echo $this->noticia['fecha_modificacion']; ?></p>
            </figure>
            <div>
                <p><?php echo $this->noticia['cuerpo'] ?></p>
            </div>
        </article>
    </div>
</section>