<section class="articulos sec-color">
    <header>
        <h3>Marcas</h3>
    </header>
    <div>
       <?php foreach ($this->marca as $marca): ?>
        <div class="art-wrapper">
            <figure><img src="<?php echo BASE_URL . $marca['img_url']; ?>" 
                         alt="<?php echo $marca['nombre'];?>" />
            </figure>
            <div class="producto">
                <p><?php echo $marca['id_producto']; ?></p>
                <p><?php echo $marca['nombre']; ?></p>
                <p><a href="<?php echo BASE_URL; ?>marcas/verMarca/<?php echo $marca['id_marca']; ?>">Ver Marca</a></p>
            </div>
        </div>
        <?php endforeach; ?>
    </div>
    <div class="paginadores">
        <?php if(isset($this->paginacion)){ echo $this->paginacion; } ?>
    </div>
</section>