<section class="articulos sec-color">
    <header>
        <h3>Marca</h3>
    </header>
    <div>
       <?php if($this->marca != null): ?>
       <?php foreach ($this->marca as $marca): ?>
        <div class="art-wrapper">
            <figure><img src="<?php echo BASE_URL . $marca['img_url']; ?>" 
                         alt="<?php echo $marca['modelo'];?>" />
            </figure>
            <div class="producto">
                <p><?php echo $marca['id_producto']; ?></p>
                <p><?php echo $marca['marca']; ?></p>
                <p><?php echo $marca['modelo']; ?></p>
                <p class="precio-item"><?php echo $marca['precio']; ?> €</p>
                <p>Stock: <span><?php echo $marca['stock']; ?></span></p>
                <p >Cantidad: 
                    <span>
                        <?php if ($marca['stock'] == 0): ?>
                        <select class="cantidad-item" disabled>
                            <option value="0" selected="selected">0</option>
                        <?php else: ?>
                        <select class="cantidad-item">
                            <option value="1" selected="selected">1</option>
                            <?php for($i=2; $i<=$marca['stock']; $i++): ?>
                            <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                            <?php endfor; ?>
                            <?php endif; ?>
                        </select>
                    </span>
                </p>
                <p>
                    <a href="javascript: void(0);" class="add-item">Añadir al carrito
                        <span>
                            <img src="<?php echo $_layoutParams['layout_img']; ?>general/add_cart.png" class="ico-small" alt="add"/>
                        </span>
                    </a>
                </p>
                <p><a href="<?php echo BASE_URL; ?>marcas/verProducto/<?php echo $marca['id_producto']; ?>">Ver <?php echo $marca['tipo'] ?></a></p>
            </div>
        </div>
        <?php endforeach; ?>
        <?php else: ?>
        <h3>No hay productos de esta marca</h3>
        <?php endif; ?>
    </div>
    <div class="paginadores">
        <?php if(isset($this->paginacion)){ echo $this->paginacion; } ?>
    </div>
</section>