<section class="articulos sec-color">
    <header>
        <h3>Accesorios</h3>
    </header>
    <div >
       <?php foreach ($this->acce as $acce): ?>
        <div class="art-wrapper">
            <figure><img src="<?php echo BASE_URL . $acce['img_url']; ?>" 
                         alt="<?php echo $acce['modelo']; ?>" />
            </figure>
            <div class="producto">
                <p><?php echo $acce['id_producto']; ?></p>
                <p><?php echo $acce['marca']; ?></p>
                <p><?php echo $acce['modelo']; ?></p>
                <p class="precio-item"><?php echo $acce['precio']; ?> €</p>
                <p>Stock: <span><?php echo $acce['stock']; ?></span></p>
                <p >Cantidad: 
                    <span>
                        <?php if ($acce['stock'] == 0): ?>
                        <select class="cantidad-item" disabled>
                            <option value="0" selected="selected">0</option>
                        <?php else: ?>
                        <select class="cantidad-item">
                            <option value="1" selected="selected">1</option>
                            <?php endif; ?>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </span>
                </p>
                <p>
                    <a href="javascript: void(0);" class="add-item">Añadir al carrito
                        <span>
                            <img src="<?php echo $_layoutParams['layout_img']; ?>general/add_cart.png" alt="cart-ico" class="ico-small" />
                        </span>
                    </a>
                </p>
                <p><a href="<?php echo BASE_URL; ?>accesorio/verProducto/<?php echo $acce['id_producto']; ?>">Ver <?php echo $acce['tipo']; ?></a></p>
            </div>
        </div>
        <?php endforeach; ?>
    </div>
    <div class="paginadores">
        <?php if(isset($this->paginacion)){ echo $this->paginacion; } ?>
    </div>
</section>