<!-- Mostrar seccion noticias -->
<section class="news sec-color">
    <div class="news-wrapper">
        <?php foreach ($this->clie as $clie): ?>
        <article class="sec-color">
            <header>
                <h4><?php if ($clie['role'] == NULL): ?>
                        <p>Cliente</p>
                    <?php else: ?>
                        <?php echo $clie['role']; ?>
                    <?php endif; ?>
                </h4>
            </header>
            <div>
                <div>
                    <p>Nombre: <?php echo $clie['nombre'] ?></p>
                    <p>Apellidos: <?php echo $clie['apellidos'] ?></p>
                    <?php if ($clie['username'] != NULL): ?>
                        <p>Nombre de usuario: <?php echo $clie['username'] ?></p>
                    <?php endif; ?>
                    <p>Direccion: <?php echo $clie['direccion'] ?></p>
                    <p>Fecha de nacimiento: <?php echo $clie['fecha_nacimiento'] ?></p>
                    <p>Fecha de registro: <?php echo $clie['fecha_registro'] ?></p>
                    <p>Email: <?php echo $clie['email'] ?></p>
                </div>
                <div>
                    <p><a href="<?php echo BASE_URL; ?>adminclientes/verFacturas/<?php echo $clie['email'] ?>">Ver Facturas</a></p>
                </div>
            </div>
        </article>
        <?php endforeach; ?>
    </div>
    <div class="paginador">
        <?php if(isset($this->paginacion)){ echo $this->paginacion; } ?>
    </div>
</section>