/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 29-oct-2015, 20:14:46
    Author     : Daniel Fabián <dafaos90@gmail.com>
*/
body{ background-color: white; }


.login-admin-form{
    margin: 0 auto;
    margin-top: 20%;
    width: 60%;
    background-color: grey;
    
}
.login-admin-form fieldset{
    border: 1px solid black;
    margin: 0 auto;
    width: 60%;
    display: block;
    
}
.login-admin-form fieldset legend{ margin-left: 20px;}
.login-admin-form fieldset input, label{
    display: block;
    margin-left: 20px;
    margin-top: 2px;
    margin-bottom: 2px;
}
.login-admin-form div{ padding-top: 10px; }
.login-admin-form div input{ display: inline; text-align: center;}
textarea{ min-height: 120px; }
input{ height: 23px;}