/* 
    Created on : 27-oct-2015, 17:25:58
    Author     : Daniel Fabián <dafaos90@gmail.com>
*/
/* Common */
pre{
    color: white;
    font-family: "Lucida Console", Monaco, monospace;
}
/* HEADER */
.header div.header-first,
.header div.header-second{
    display: flex;
    flex: 1 100%;
    flex-direction: row-reverse;
}
div.header-second { flex-wrap: nowrap; }
.header div.header-first{ align-items: center; }
.header div.header-first figure{ flex-grow: 1; }
.header div.header-first figure img{ 
    width: 100%; 
    height: 150px;
}
.header div.header-first h1{
    flex-grow: 2;
    justify-content: center;
    width: 100%;
}
/* Posicinoamiento imagenes de los botones ubicados en header */
.header div.header-second{ margin-bottom: 6px; }
.header div.header-second div ul.session-menu li span img,
.header div.header-second div ul.session-menu li ul.session-submenu span img,
.header div.header-second div a span img{ 
    position: relative;
    top: 7px;
    margin-left: 3px;
}
/* Posicinamiento menu y submenu cuando hay sesion de usuario */
.header div.header-second > div:nth-child(2),
.session-menu, 
.session-submenu{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
}
.session-menu, 
.session-submenu{ list-style: none; }
.session-submenu{ display: none; }
.session-menu:hover .session-submenu{ display: block; }

/* Posicionamiento elemetos del carrito*/
.header-second div:hover > div.cart-list-wrapper{ 
    display: block;
    border: 1px solid black;
}
div.cart-list-wrapper{ 
    position: absolute;
    background-color: white;
    color: black;
    
    list-style: none;
    display: none;
    z-index: 50;
}
div.cart-list-wrapper > div > table{ width: 100%; }
/*.cart-list-wrapper li span > a img{
    position: relative;
    top: 5px;/* Valor comprendido entre 3 y 5 *
    margin-right: 7px;
}*/
.actualizar-item img,
.eliminar-item img{
    position: relative;
    top: 4px;
}
.cart-list-wrapper > .footer-shopping-cart{ border-top: 1px solid grey; }
.buttons-cart{ display: none; }
/* | LEFT ASIDE | */
/* Formulario de busqueda */
#searcher{
    border: 1px solid #EEEEEE;
    display: flex;
}
#searcher input{ flex: 1 90%; }
#searcher button:hover{
    color: transparent;
    background-color: green;
}
#searcher button img{
    position: relative;
    top: 2px;
    width: 24px;
    height: 24px;
}
/**/
.buttons-admin-news{
    
}
/* |--- CONTENIDO ---| */
.hook{ 
    height: 25px;
    margin-bottom: 2px;
    padding-top: 12px;
    padding-left: 10px;
}
.create-new-admin-element{
    position: relative;
    top: -18px;
    left: 81%;
}
#notifications{
    width: 99%;
    height: 26px;
    padding-top: 9px;
    padding: 4px;
    margin-bottom: 1px;
    text-align: center;
    display: none;
}
/* Slider */
.slide-container{/* Contenedor del slider y los controles */
    width: 100%;
    height: auto;
}
.slide-content{/* Contenido del slide */
    width: 90%;
    height: 254px;
    margin: 0 5%;
}
.slide-content ul{
    position: relative;
    list-style: none;
    overflow: hidden;
}
.slide-content ul li{ display: none; }/* No mistrar listado por defecto */
.slide-content ul li.current-slide{ display: block; }/* Mostrar solo imagen actual */
.slide-content ul li img{
    width: 100%;
    height: 250px;
    z-index: 1;
}

.slide-content ul li .fig-caption{/* Descripción imagen */
    position: absolute;
    width: 100%;
    height: auto;
    bottom: 0;/* Posicionar en la zona baja del contenedor */
    z-index: 2;/* Indicar que va por encima de la imagen */
    background: rgba(0,0,0,0.6);/* Negro con degradado*/
    color: white;
    font-size: 1.2em;
    padding-left: 1%;
    padding-right: 1%;
    display: none;
    
}
.slide-content ul li.current-slide:hover .fig-caption{ display: inline-block; }
.slide-content ul li .fig-caption > h3 { color: red; }
.slide-control{/* Contenedor controles*/}
.slide-control ul{
    margin-top: 15px;
    padding-bottom: 10px;
    list-style: none;
    text-align: center;
}
.slide-control ul li{
    display: inline-block;
    width: 15px;
    height: 15px;
    margin: 0 10px;
    background-color: black;
    border-radius: 50%;/* Redondear controles */
    cursor: pointer;
}
.slide-control ul li.current-control-slide{ background-color: red; }
/* Notícias */
section.news { margin-top: 2px;}
.news-wrapper article {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 10px;
}
.news-wrapper article header{
    width: 100%;
    margin-bottom: 6px;
}
.news-wrapper article figure{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 2%;
    margin-right: 2%;
    margin-left: 2%;
}
.news-wrapper article figure img{ 
    width: 100%; 
    max-height: 350px;
}
.news-wrapper article div{
    flex-grow: 3;
    flex-shrink: 0;
    flex-basis: 20%;
    width: 50%;
}
.news-wrapper article div{ padding-right: 2%; }
/* Artículos */
section.news header h3, 
section.news div.news-wrapper article header h4,
.articulos header h3{
    border-bottom: 1px solid #9E9E9E;
}
.articulos > div{
    display: flex;
    flex-flow: row wrap;
}
.art-wrapper{ 
    border: 1px solid black; 
    width: 25%;
    margin: 2%;
    margin-bottom: 20px;/* Incluir esta linea por problemas de compatiblidad de posicionamient con Firefox, Opera, MEdge */
}
.art-wrapper figure{ width: 90%; }
.art-wrapper figure img{ 
    width: 100%; 
    min-height: 200px;
    max-height: 350px;
    margin-top: 3px;
    margin-left: 5%;
}
.art-wrapper > div > p{
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
}
.art-wrapper > div.producto > p > a.add-item > span > img, 
.art-wrapper > div.producto > p > span > img{
    position: relative;
    top: 6px;
}
.producto p:first-child{ display: none;}
/* Formularios */

.flow-wrapper {
    display: flex;
    flex-flow: row wrap;
    width: 100%;
}
.flow-wrapper > div{
    flex-direction: column;
    width: 49%;
    margin-left: 1%;
}
.formulary{ width: 100%; }

/* Formulario de contacto */
.add-new{ margin-left: 5%;}
.contact-form{ 
    width: 100%; 
    padding-top: 6px;
}

.contact-form > fieldset { 
    width: 80%; 
    margin: 0 auto;
    margin-top: 5px;
    padding-left: 15%;
}
.formulary input,
.add-new textarea,
.contact-form input, 
.contact-form textarea,
select{
    width: 70%;
    height: 35px;
    display: block;
    margin: 4px 0 4px 0;
}
.formulary textarea,
.contact-form textarea{ min-height: 120px; }
.formulary input[type='submit'],
.formulary input[type='reset'] { width: 27%; }
.contact-form input[type='submit'],
.contact-form input[type='reset'] { width: 15%; }
#destacado{ width: 7%; }

#iframe { width: 80%; margin: 0 auto;}
#iframe > iframe{ width: 100% !important; }

.mod-img{ 
    width: 50%; 
    min-height: 100px;
    height: 150px;
}
.mod-img > img{ 
    width: 100%;
    height: 100%;
}
/* FOOTER */
.footer div.general-info{ margin-top: 20px; }
.footer div.general-info ul{ 
    list-style: none; 
    margin-top: 15px;
    width: 100%; 
}
.footer div.general-info div ul li:first-child{ font-weight: bold; }
.footer div.general-info div:nth-child(3) ul li{ padding-right: 20px; }
.footer div.general-info div ul span img{
    position: relative;
    top: 6px;
    margin-right: 4px;
}
.footer > div:nth-child(2){ /* Segundo div hijo directo de clase .footer */
    text-align: center; 
    padding-top: 15px;
}
.politica_cookies{
    display:none;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    padding-bottom:20px;
    width:100%;
    text-align:center;
    min-height:40px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    z-index:99999;
}
.politica_cookies p{
    padding-left: 10%;
    padding-right: 10%;
}
.politica_cookies a{
    color: white;
    text-decoration: none;
}
/* COLOR */
/* Patron Deep Orange de MD de Google */
.header, .footer{
    background-color: #FF5722;
    /*background-color: #65d343;*/
    color: black;
}
nav ul li a.current, 
nav ul li a:hover {/* Selector para el elemento actual de menu */
    background-color: #FF7043;
    /*background-color: #65d343;*/
}
nav,
.hook,
#slider,
.sec-color{
    color: black;
    background-color: #FBE9E7;
    /*background-color: #BDBDBD;*/
}
/* RESOLUCIONES */
/* Resoluciones grandes */
@media all and (min-width: 801px) {
    /* Cabecera RD */
    .header .header-first h1{ 
        margin-left: 5%;
        padding-right: 5px;
    }
    .header div.header-second > div{ 
        margin-left: 5%; 
        margin-right: 1%;
    }
    div.cart-list-wrapper{
        top: 205px;
        right: 3%;
        width: 500px;
    }
    /* Nav RD*/
    nav{ border-right: 1px solid grey; }
    span.menu-ico img{ display: none; }/* Ocultar hamburguesa en pantallas grandes*/
    .art-wrapper{ 
        width: 220px;
        flex-grow: 4;
        flex-basis: 20%;
    }
    /* FOOTER */
    div.general-info{
        display: flex;
        flex-flow: row wrap;
    }
    div.general-info div{
        flex-grow: 1;
        flex-shrink: 0;
        flex-basis: 20%;
    }
    .footer div.general-info div:nth-child(1) ul,
    .footer div.general-info div:nth-child(2) ul{
        position: relative;
        left: 25%;
    }
    .footer div.general-info div:nth-child(2){ 
        border-left: 1px solid black; 
        border-right: 1px solid black; 
    }
    .footer div.general-info div:nth-child(3) ul{ margin-left: 6px; }
}
/* Resoluciones pequeñas */
@media all and (max-width: 800px) {
    /* Cabecera RD */
    .header div.header-first{
        display: flex;
        flex-direction: column-reverse;
    }
    .header div.header-second div{ margin: 0 auto; }
    div.cart-list-wrapper{
        top: 241px;
        right: 3%;
        z-index: 99;
        width: 84%;
    }
    /* Articulos */
    .art-wrapper{ 
        flex-grow: 2;
        flex-basis: 35%;
    }
    .footer * { text-align: center; }
}
/* Resolucion para correcta ubicacion lista carrito */
@media all and (max-width: 590px){
    div.cart-list-wrapper{
        top: 279px;
        right: 3%;
        width: 94%;
        z-index: 99;
    }
}
/* My jquery dialog style */
.c_enabled{ z-index: 2; 
           display: none;
}
.ui-widget{
    font-family: "Segoe UI", Arial,sans-serif;
    font-size: 1.1em;
}
.ui-widget-overlay{/* Oscurecer body  */
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #5C5C5C;
    opacity: .8;
    z-index: 0;
}
.ui-widget-content{/* Para todos los widgets*/
    border: 1px solid #666666;
    background: #000000 ;
    color: #ffffff;
}
.ui-dialog{/* Valores por defecto de los dialogos */
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    padding: .2em;
    outline: 0;
    width: 40% !important;
    z-index: 50;
}
.ui-dialog-titlebar{/* Bara donde se ubica el titulo */
    position: relative;
    color: #ffffff;
    background-color: #333333;
    height: 25px;
    padding-top: 2px;
    border: 1px solid #333333;
    cursor: move;
}
.ui-dialog-title{/* Titulo dialogo */
    padding: .5em 1em;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.ui-dialog-content {
    position: relative;
    border: 0;
    padding: .5em 1em;
    background: none;
    overflow: auto;
}
.ui-widget-content p {
    font: 15px/22.5px "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif;
}
.ui-button{
    font-family: "Segoe UI", Arial,sans-serif;
    color: #eeeeee;
    background-color: #555555;
    font-weight: bold;
}
.ui-button:hover{
    color: #eeeeee;
    background-color: #0078a3;
}
.ui-button:active{
    color: #eeeeee;
    background-color: #f57800;
}
.ui-button-text-only{ line-height: normal; }
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset { float: right; }
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
        font-size: 1em
}
/* My jquery datepicker style */
/* Datepicker */
ui-datepicker {
    width: 17em;
    padding: .2em .2em 0;
    display: none;
}
.ui-datepicker .ui-datepicker-header {
    position: relative;
    padding: .2em 0;
}
.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    position: absolute;
    top: 2px;
    width: 1.8em;
    height: 1.8em;
}
.ui-datepicker .ui-datepicker-prev-hover,
.ui-datepicker .ui-datepicker-next-hover {
    top: 1px;
}
.ui-datepicker .ui-datepicker-prev {
    left: 2px;
}
.ui-datepicker .ui-datepicker-next {
    right: 2px;
}
.ui-datepicker .ui-datepicker-prev-hover {
    left: 1px;
}
.ui-datepicker .ui-datepicker-next-hover {
	right: 1px;
}
.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -8px;
    top: 50%;
    margin-top: -8px;
}
.ui-datepicker .ui-datepicker-title {
    margin: 0 2.3em;
    line-height: 1.8em;
    text-align: center;
}
.ui-datepicker .ui-datepicker-title select {
    font-size: 1em;
    margin: 1px 0;
}
.ui-datepicker select.ui-datepicker-month,
.ui-datepicker select.ui-datepicker-year {
    width: 45%;
}
.ui-datepicker table {
    width: 100%;
    font-size: .9em;
    border-collapse: collapse;
    margin: 0 0 .4em;
}
.ui-datepicker th {
    padding: .7em .3em;
    text-align: center;
    font-weight: bold;
    border: 0;
}
.ui-datepicker td {
    border: 0;
    padding: 1px;
}
.ui-datepicker td span,
.ui-datepicker td a {
    display: block;
    padding: .2em;
    text-align: right;
    text-decoration: none;
}
.ui-datepicker .ui-datepicker-buttonpane {
    background-image: none;
    margin: .7em 0 0 0;
    padding: 0 .2em;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.ui-datepicker .ui-datepicker-buttonpane button {
    float: right;
    margin: .5em .2em .4em;
    cursor: pointer;
    padding: .2em .6em .3em .6em;
    width: auto;
    overflow: visible;
}
.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    float: left;
}

.ui-datepicker-header{
    /*background: #F7AF39;*/
    background-image: url("images/ui-bg_gloss-wave_35_f6a828_500x100.png");
    
    border-radius: 5px;
    font-weight: bold;
}
/*.ui-widget, .ui-datepicker-calendar{*/
.ui-datepicker-calendar{
    background: #EEEEEE;
    color: black;
}
.ui-datepicker-calendar tbody tr > td{
    border: 1px solid black;
    margin: 2px;
    background: #d1d1d1;
    padding: 3px;
}
.ui-datepicker-calendar tbody tr > td:hover{
    background: #FEF9DF;
}
.ui-datepicker-calendar tbody tr > td:active{
    background: #FFF1A5;
}
.ui-datepicker-calendar tbody tr > td > a {
    color: darkblue;
    font-weight: bold;
    text-decoration: none;
}
.ui-icon-circle-triangle-e { background-position: -48px -192px; }
.ui-icon-circle-triangle-w { background-position: -80px -192px; }
.ui-icon {
	width: 16px;
	height: 16px;
}
.ui-icon,
.ui-widget-content .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-widget-header .ui-icon {
	background-image: url("images/ui-icons_ffffff_256x240.png");
}
.ui-state-default .ui-icon {
	background-image: url("images/ui-icons_ef8c08_256x240.png");
}
.ui-state-hover .ui-icon,
.ui-state-focus .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}
.ui-state-active .ui-icon {
	background-image: url("images/ui-icons_222222_256x240.png");
}

/* Genericas extra */
.tam-100{ width: 100%; }
.tam-80{ width: 80%; margin: 0 auto; }

#g-dimension,
#g-concavo,
#g-peso{
    display: none;
}