<!-- Mostrar seccion noticias -->
<section class="news sec-color">
    <header>
        <h3>Todas las noticias</h3>
    </header>
    <div class="news-wrapper">
        <?php foreach ($this->noticias as $noticia): ?>
        <article class="sec-color">
            <header>
                <h4><?php echo $noticia['titulo']; ?></h4>
            </header>
            <figure>
                <img src="<?php echo BASE_URL . $noticia['img_url']; ?>" alt="<?php echo $noticia['titulo']; ?>" />
            </figure>
            <div>
                <div>
                    <p>Última modificación: <?php echo $noticia['fecha_modificacion']; ?></p>
                </div>
                <p><?php echo $noticia['cuerpo']; ?></p>
                <div>
                    <p><a href="<?php echo BASE_URL; ?>noticias/verNoticia/<?php echo $noticia['id_noticia']; ?>">Ver Notícia</a></p>
                </div>
            </div>
        </article>
        <?php endforeach; ?>
    </div>
    <div class="paginador">
        <?php if(isset($this->paginacion)){ echo $this->paginacion; } ?>
    </div>
</section>
