<section class="news sec-color">
    <header>
        <h3>Notícia</h3>
    </header>
    
    <div class="news-wrapper">
        <article>
            <header><h4><?php echo $this->noticia['titulo']; ?></h4></header>
            <figure>
                <img src="<?php echo BASE_URL . $this->noticia['img_url']; ?>" alt="<?php echo $this->noticia['titulo']; ?>" />
                <p>Escrito por: <?php echo $this->noticia['username']; ?></p>
                <p>Modificado: <?php echo $this->noticia['fecha_modificacion']; ?></p>
            </figure>
            <div>
                <p><?php echo $this->noticia['cuerpo']; ?></p>
                <p><a href="javascript:history.back()">Atras</a></p>
            </div>
        </article>
        
    </div>
</section>