<section class="news sec-color">
    <header>
        <h3 class="sec-color">Listado de prodcutos</h3>
    </header>

    <!-- Mostrar seccion noticias -->
    <div class="news-wrapper">
        <?php foreach ($this->listado as $articulo): ?>
        <article class="sec-color">
            <header><h4><?php echo $articulo['marca']; ?></h4>
                <div class="buttons-admin-news">
                    <span><a href="<?php echo BASE_URL; ?>adminproductos/actualizarProd/<?php echo $articulo['id_producto']; ?>"><img src="<?php echo $_layoutParams['layout_img']; ?>general/ic_edit.png" alt="" class="ico-small" />Editar</a></span>
                    <span><a href="<?php echo BASE_URL; ?>adminproductos/eliminarProd/<?php echo $articulo['id_producto']; ?>"><img src="<?php echo $_layoutParams['layout_img']; ?>general/ic_clear.png" alt="" class="ico-small" />Eliminar</a></span>
                </div>
            </header>
            <figure>
                <img src="<?php echo BASE_URL . $articulo['img_url']; ?>" alt="<?php echo $articulo['modelo']; ?>" />
            </figure>
            <div>
                <p>Categoria: <?php echo $articulo['categoria']; ?></p>
                <p>Tipo articulo: <?php echo $articulo['tipo']; ?></p>
                <p>Marca: <?php echo $articulo['marca']; ?></p>
                <p>Modelo: <?php echo $articulo['modelo']; ?></p>
                <p>Stock: <?php echo $articulo['stock']; ?></p>
                <p>Precio: <?php echo $articulo['precio']; ?></p>
                <p>Tamaño/Talla: <?php echo $articulo['dimensiones']; ?></p>
                <?php if(isset($articulo['peso'])): ?>
                <p>Peso: <?php echo $articulo['peso']; ?> gr</p>
                <?php endif; ?>
                <?php if(isset($articulo['concavo'])): ?>
                <p>Tipo convaco: <?php echo $articulo['concavo']; ?></p>
                <?php endif; ?>
                <p>Color: <?php echo $articulo['color']; ?></p>
                <?php if($articulo['destacado'] == 0): ?>
                <p>Articulo NO destacado</p>
                <?php else: ?>
                <p>Articulo destacado</p>
                <?php endif; ?>
                
            </div>
        </article>
        <?php endforeach; ?>
    </div>
    <div class="paginadores">
        <?php if(isset($this->paginacion)){ echo $this->paginacion; } ?>
    </div>
</section>