<?php if(isset($this->_error)): ?>
<section class="sec-color">
    <h3><?php echo $this->_error; ?></h3>
</section>
<?php endif; ?>
<section class="sec-color">
    <header>
        <h3>Agregar un nuevo producto</h3>
    </header>
    <form method="POST" action="<?php echo BASE_URL; ?>adminproductos/createProd" enctype="multipart/form-data" class="formulary">
        <fieldset>
            
            <p>Categoria</p>
            <select id="categorias" name="categorias">
                <option value="default" selected="selected">--Categorias--</option>
            <?php foreach($this->categorias as $key): ?>
                <option value="<?php echo $key['id_categoria']; ?>"><?php echo $key['nombre']; ?></option>
            <?php endforeach; ?>
            </select>
            <p>Tipo</p>
            <select id="tipo-item" name="tipo"><!-- AJAX segun la categoria mostrar los tipos de elementos diponibles -->
                <option value="default" selected="selected">--Tipo item--</option>
            </select>
            <p>Marcas</p>
            <select id="marcas" name="marca">
                <option value="default" selected="selected">--Marcas--</option>
            <?php foreach($this->marcas as $key): ?>
                <option value="<?php echo $key['id_marca']; ?>"><?php echo $key['nombre']; ?></option>
            <?php endforeach; ?>
            </select>
            <div id="g-dimension">
                <p>Tamaño/dimesión</p>
                <select id="dimension" name="dimension"><!-- Gestion tamaños por defecto con js -->
                    <option value="default">-Seleccionar tipo--</option>
                </select>
            </div>
            <div id="g-peso">
                <p>Peso</p>
                <input type="number" name="peso" id="peso" value="0" placeholder="0 gramos" />
            </div>
            <div id="g-concavo">
                <p>Convaco</p>
                <select id="concavo" name="concavo">
                    <option value="default" selected="selected">--Concavo--</option>
                    <option value="alto">Concavo alto</option>
                    <option value="medio">Concavo medio</option>
                    <option value="bajo">Concavo bajo</option>
                </select>
            </div>
            <br />
            <p>Imagen producto: </p>
            <input type="file" name="img-prod" />   
            <p>Modelo</p>
            <input type="text" name="modelo" id="modelo" value="" placeholder="Modelo" required="required" />
            <p>Stock disponible de producto</p>
            <input type="number" name="stock" id="stock" value="" placeholder="Cantidad stock" required="required">
            <p>Precio</p>
            <input type="number" name="precio" id="precio" value="" placeholder="xx.xx"  required="required"/>
            <p>Color</p>
            <input type="text" name="color" id="color" value="" placeholder="Color" />
            <p>Destacar articulo</p>
            <input type="checkbox" id="destacado"  name="destacado" />
            <p>Descripció</p>
            <br />
            <textarea name="descripcion" placeholder="Descripción del producto" cols="100"></textarea>
            <input type="submit" name="btn-submit" value="Crear" />
        </fieldset>
    </form>
</section>