<?php if(isset($this->_error)): ?>
<section class="sec-color">
    <h3><?php echo $this->_error; ?></h3>
</section>
<?php endif; ?>
<section class="sec-color">
    <header>
        <h3>Agregar un nuevo producto</h3>
    </header>
    <figure class="mod-img">
        <img src="<?php echo BASE_URL . $this->producto['img_url']; ?>" alt="" />
    </figure>
    <form method="POST" action="<?php echo BASE_URL; ?>adminproductos/updateProd" enctype="multipart/form-data" class="formulary">
        <fieldset>
            <input type="hidden" name="data" value="<?php echo $this->producto['id_producto']; ?>" />
            <input type="hidden" name="dataCat" value="<?php echo $this->producto['id_categoria']; ?>" />
            <input type="hidden" name="dataType" value="<?php echo $this->producto['tipo']; ?>" />
            <input type="hidden" name="dataMod" value="<?php echo $this->producto['modelo']; ?>" />
            <input type="hidden" name="dataDim" value="<?php echo $this->producto['dimensiones']; ?>" />
            <p>Nueva imagen</p>
            <input type="file" name="img-prod" />
            <p>Marca: <?php echo $this->producto['marca']; ?></p>
            <select id="marcas" name="marca">
            <?php foreach($this->marcas as $key): ?>
                <?php if($key['nombre'] == $this->producto['marca']): ?>
                <option value="<?php echo $key['id_marca']; ?>" selected="selected"><?php echo $key['nombre']; ?></option>
                <?php else: ?>
                <option value="<?php echo $key['id_marca']; ?>"><?php echo $key['nombre']; ?></option>
                <?php endif; ?>
            <?php endforeach; ?>
            </select>
            <p>Categoria: <?php echo $this->producto['categoria']; ?></p>
            <p>Fecha de ingreso: <?php echo $this->producto['fecha_ingreso']; ?></p>
            <p>Stock</p>
            <input type="number" name="stock" value="<?php echo $this->producto['stock']; ?>" required="required" />
            <p>Precio</p>
            <input type="text" name="precio" value="<?php echo $this->producto['precio']; ?>" required="required" />
            <p>Tamaño/dimensión: <?php echo $this->producto['dimensiones']; ?></p>
            <p>Peso: <?php echo $this->producto['peso']; ?></p>
            <p>Color</p>
            <input type="text" name="color" value="<?php echo $this->producto['color']; ?>" required="required" />
            <p>Destacar articulo</p>
            <?php if($this->producto['destacado'] == 1): ?>
            <input type="checkbox" id="destacado" name="destacado" checked="checked"/>
            <?php else: ?>
            <input type="checkbox" name="destacado" />
            <?php endif; ?>
            <input type="submit" name="btn-submit" value="Actualizar producto" />
        </fieldset>
    </form>
</section>