<section class="sec-color">
    <header>
        <h3>Devoluciones</h3>
    </header>
    <div class="tam-80">
        <br>
        <p>
            Tiene usted derecho a devolver su compra en un plazo de 14 días naturales 
            sin necesidad de justificación (Según art. 47 de la Ley 7/1996 de Ordenación 
            del Comercio Minorista). Para ejercer el derecho de devolución, deberá notificarnos 
            al e-mail info@skatespain.com, SkateSpain.com, C/ Mayor 74 bajo izq., 46183, 
            L'Eliana, Valencia (España) su decisión de realizar una devolución. Podrá enviar 
            electrónicamente el modelo de formulario de desistimiento que figura a continuación, 
            aunque su uso no es obligatorio.
        </p>
    </div>
</section>