<section class="sec-color">
    <header>
        <h3>Métodos de pago</h3>
    </header>
    <div class="tam-80">
        <br>
        <h5>Tarjeta de crédito:</h5>
        <br>
        <p>
            Los pagos por tarjeta de crédito se realizan mediante la pasarela de pago 
            del TPV virtual de ING DIRECT. Se aceptan tarjetas Visa, MasterCard y American 
            Express. Es el método más fiable y seguro ya que trabajamos con la máxima 
            seguridad implementado el protocolo CES (Comercio Electrónico Seguro), que 
            se conecta con la pagina web de su propio banco donde se completa el proceso 
            de verificación solicitándole una clave, tarjeta de coordenadas o similar. 
            Este método de pago no lleva ningún coste adicional.
        </p>
        <br>
        <p>Mas adelante implementaremos mas métodos de pago. Disculpe las molestias</p>
    </div>
</section>