<section class="sec-color">
    <header>
        <h3>Contacta con nosotros para cualquier tipo de información y/o queja</h3>
    </header>
    <form action="<?php echo BASE_URL; ?>/infogeneral/contacto" method="POST" class="contact-form" onsubmit="return validar(this);" class="tam-80">
        <fieldset>
            <legend></legend>
            <label for="cont-nom">Nombre</label>
            <input type="text" name="user_name" id="cont-nom" value="" placeholder="Nombre y apellidos" />
            <label for="cont-email">Email</label>
            <input type="email" name="user_email" id="cont-email" value="" placeholder="example@example.com" />
            <label for="cont-asunto">Asunto</label>
            <input type="text" name="user_asunto" id="cont-asunto" value="" placeholder="Su asunto" />
            <label for="user_pedido">Número de pedido</label>
            <input type="text" name="user_pedido" id="user_pedido" value="" placeholder="Nº pedido" />
            <label for="cont-msg">Mensaje</label>
            <textarea name="user_mensaje" id="cont-msg" ></textarea>

            <input type="submit" value="Enviar" name="btn-submit" class="primary button-primary"/>
            <?php //if(Session::accesoVista('gestor')): ?>
            <input type="reset" value="Reset" name="btn-submit" class="primary button-secondary"/>
            <?php //endif; ?>
        </fieldset>
    </form>
</section>