<section class="sec-color">
    <header>
        <h3>Donde Estamos</h3>
    </header>
    <div id="iframe" class="tam-80">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5976.2429518642375!2d2.1093462!3d41.5016423!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0000000000000000%3A0x21585445892b1413!2sEscola+d&#39;Enginyeria!5e0!3m2!1ses!2ses!4v1450705976314" width="1000" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
</section>