<section class="sec-color">
    <header>
        <h3>Métodos de envío</h3>
    </header>
    <div class="tam-80">
        <br>
        <h5>Envíos a ESPAÑA PENINSULA</h5>
        <p>Los envíos a Península se realizan mediante Correos y Seur. El pedido se envía al día siguiente laborable de recibir el pago,
        o en el mismo día laborable si se realiza el pedido antes de las 13:00 para Correos o antes de las 17:00 para Seur. El plazo de
        entrega es de 1 a 3 días laborables con CORREOS y de 1 a 2 días laborables con SEUR una vez enviado el pedido. Los sábados, domingos
        y festivos no cuentan como días laborables, por lo que ni se hacen envíos ni se realizan entregas. </p>
        <br>
        <p>Tipos de envío</p><br>
        <p>
            - Envío a domicilio 48/72h Laborables: 3,90€. El envío se realiza a la dirección facilitada por el comprador. Se hacen dos intentos de entrega, y en caso de no poder ser entregado, el cliente recibirá un aviso para poder pasar a recogerlo a su oficina más cercana de CORREOS.<br><br>

            - Recogida en oficina de Correos 48/72h Laborables: 3,90€. El envío se realiza a la oficina de Correos correspondiente de la dirección facilitada, y debe se recogido con el DNI del destinatario. Para este tipo de envíos en imprescindible un número de teléfono móvil.<br><br>

            - Envío a domicilio SEUR 24/48h Laborables: 4,90€. El envío se realiza a la dirección facilitada por el comprador. Se hacen dos intentos de entrega, y en caso de no poder ser entregado, el cliente recibirá un aviso para poder pasar a recogerlo a su oficina más cercana de SEUR.<br><br>
            Los envíos con pago contrarreembolso tienen un coste adicional de 2€.<br>

            El incumplimiento de fecha de entrega de cualquier tipo de envío es responsabilidad de la empresa de transporte en caso de que se haya enviado el paquete en el plazo correspondiente por parte de la tienda. <br><br>

        Los pedidos en ningún caso podrán ser cancelados una vez se hayan enviado. En caso de que el comprador quisiera cancelarlo una vez enviado, tendría que abonar la totalidad de los gastos del envío de este.
        </p>
    </div>
</section>
