<section class="sec-color">
    <header>
        <h3>Política de privacidad</h3>
    </header>
    <div class="tam-80">
        <br>
        <h4>Adquisición, proceso y utilización de datos personales</h4>
        <br>
        <p>
           Puedes visitar nuestra página web sin introducir ninguna información personal. 
           Tan solo almacenamos datos de acceso para analizarlos y mejorar nuestras ofertas, 
           sin permitir ninguna conexión con tu persona.
        <p>
        <br>
        <p>
            Los datos personales solo se almacenan si tú nos los facilitas voluntariamente, 
            al abrir una cuenta de usuario o registrándote en nuestro boletín. Usamos los 
            datos personales que has compartido con nosotros para completar tu pedido. Como
            cliente, tu información se utiliza para completar el contrato de compra y para 
            nuestros propios propósitos publicitarios. Cuando te registras independientemente 
            en nuestro boletín informativo, tu dirección de correo electrónico se usará para 
            nuestros propios propósitos publicitarios hasta que te des de baja en el boletín. 
        </p>
        
    </div>
</section>