<section class="sec-color">
    <header>
        <h3>¿Qué es una cookie?</h3>
    </header>
    <div class="tam-80">
        <p>
            Una <i>cookie</i> es un pequeño fichero de texto que se almacena en
            el navegador del usuario al acceder a determinadas webs. Las cookies 
            son necesarias para facilitar la navegación y mejorar la experiencia
            del usuario.
        </p>
        <p>
            Las <i>cookies</i> suelen almacenar información de carácter técnico,
            preferencias personales, personalización de contenido
        </p>
    </div>
</section>