<section class="sec-color">
    <header>
        <h3>Sobre nosotros</h3>
    </header>
    <div class="tam-80">
        <br>
        <p>dafaos_PHPframework.com es una tienda especializada en la venta de todo tipo de productos relacionados con el Skateboarding. Llevamos más nuestro 1º años vendiendo online, y nuestros clientes estan contentos con nosotros.

        Tenemos en stock una gran variedad de tablas de skate, skates completos, ruedas, ejes, rodamientos, cruisers y longboards, así como sudaderas, camisetas para chico y chica. Trabajamos con las mejores marcas de skate, ropa y calzado del mercado, como Vans, Element, DC Shoes, Globe, Bones o Venture, entre muchas otras.

        Nuestros sistemas de pago son 100% seguros. Aceptamos solo tarjeta pero no se preocupen mas adelante implementaremos mas métodos de pago. Tenemos una política de precio mínimo garantizado. Y si no estás satisfecho, tienes 30 días para cambiar de opinión.

        Además, ahora también disponemos de tienda física para que puedas ver los productos en directo. La tienda está situanda en CALLE POR DETERMINAR.<p>
        <br>    
        <p>dafaos_PHPframework.com</p>
        
    </div>
</section>