<section class="articulos sec-color">
    <header>
        <h3>Moda Mujeres</h3>
    </header>
    <div>
       <?php foreach ($this->chica as $chica): ?>
        <div class="art-wrapper">
            <figure><img src="<?php echo BASE_URL . $chica['img_url']; ?>" 
                         alt="<?php echo $chica['modelo'];?>" />
            </figure>
            <div class="producto">
                <p><?php echo $chica['id_producto']; ?></p>
                <p><?php echo $chica['marca']; ?></p>
                <p><?php echo $chica['modelo']; ?></p>
                <p class="precio-item"><?php echo $chica['precio']; ?> €</p>
                <p>Stock: <span><?php echo $chica['stock']; ?></span></p>
                <p >Cantidad: 
                    <span>
                        <?php if ($chica['stock'] == 0): ?>
                        <select class="cantidad-item" disabled>
                            <option value="0" selected="selected">0</option>
                        <?php else: ?>
                        <select class="cantidad-item">
                            <option value="1" selected="selected">1</option>
                            <?php for($i=2; $i<=$chica['stock']; $i++): ?>
                            <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                            <?php endfor; ?>
                            <?php endif; ?>
                        </select>
                    </span>
                </p>
                <p>
                    <a href="javascript: void(0);" class="add-item">Añadir al carrito
                        <span>
                            <img src="<?php echo $_layoutParams['layout_img']; ?>general/add_cart.png" alt="cart-ico" class="ico-small" />
                        </span>
                    </a>
                </p>
                <p><a href="<?php echo BASE_URL; ?>chica/verProducto/<?php echo $chica['id_producto']; ?>">Ver <?php echo $chica['tipo']; ?></a></p>
            </div>
        </div>
        <?php endforeach; ?>
    </div>
    <div class="paginadores">
        <?php if(isset($this->paginacion)){ echo $this->paginacion; } ?>
    </div>
</section>