
<section class="news sec-color">
    <div class="news-wrapper">
        <header>
            <h3>Tabla completa</h3>
        </header>
        <?php foreach ($this->long as $long): ?>
        <div class="news-wrapper">
            <article>
                <header><h4><?php echo $long['modelo']; ?></h4></header>
                <figure>
                    <img src="<?php echo BASE_URL . $long['img_url']; ?>" alt="<?php echo $long['modelo']; ?>" />
                    <p>Fecha de salida: </p>
                    <p><?php echo $long['fecha_ingreso']; ?></p>
                </figure>
                <div>
                    <p>Descripcion: <?php echo $long['descripcion']; ?></p>
                    <p>Color: <?php echo $long['color']; ?></p>
                    <div class="producto">
                        <p><?php echo $long['id_producto']; ?></p>
                        <p>Marca: <span><?php echo $long['marca']; ?></span></p>
                        <p>Modelo: <span><?php echo $long['modelo'] ?></span></p>
                        <p class="precio-item">Precio: <span><?php echo $long['precio']; ?></span>€</p>
                        <p>Stock: <span><?php echo $long['stock']; ?></span></p>
                        <p >Cantidad: 
                            <span>
                                <?php if ($long['stock'] == 0): ?>
                                <select class="cantidad-item" disabled>
                                    <option value="0" selected="selected">0</option>
                                <?php else: ?>
                                <select class="cantidad-item">
                                    <option value="1" selected="selected">1</option>
                                    <?php endif; ?>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </span>
                        </p>
                        <p>
                            <a href="javascript: void(0);" class="add-item">Añadir al carrito
                                <span>
                                    <img src="<?php echo $_layoutParams['layout_img']; ?>general/add_cart.png" alt="cart-ico" class="ico-small" />
                                </span>
                            </a>
                        </p>
                        <p><a href="javascript:history.back()">Atras</a></p>
                    </div>
                </div>
            </article>
        </div>
        <?php endforeach; ?>
    </div>
</section>