<section class="news sec-color">
    <header>
        <h3>Ejes</h3>
    </header>
    
    <div class="news-wrapper">
        <article>
            <header><h4><?php echo $this->ejes['modelo']; ?></h4></header>
            <figure>
                <img src="<?php echo BASE_URL . $this->ejes['img_url']; ?>" alt="<?php echo $this->ejes['modelo']; ?>" />
                <p>Fecha de salida: </p>
                <p><?php echo $this->ejes['fecha_ingreso']; ?></p>
                <p>Precio: <?php echo $this->ejes['precio']; ?></p>
            </figure>
            <div>
                <p>Descripcion: <?php echo $this->ejes['descripcion']; ?></p>
                <p>Color: <?php echo $this->ejes['color']; ?></p>
                <div class="producto">
                    <p><?php echo $this->ejes['id_producto']; ?></p>
                    <p>Marca: <span><?php echo $this->ejes['marca']; ?></span></p>
                    <p>Modelo: <span><?php echo $this->ejes['modelo']; ?></span></p>
                    <p class="precio-item">Precio: <span><?php echo $this->ejes['precio']; ?></span>€</p>
                    <p>Stock: <span><?php echo $this->ejes['stock']; ?></span></p>
                    <p >Cantidad: 
                        <span>
                            <?php if ($this->ejes['stock'] == 0): ?>
                            <select class="cantidad-item" disabled>
                                <option value="0" selected="selected">0</option>
                            <?php else: ?>
                            <select class="cantidad-item">
                                <option value="1" selected="selected">1</option>
                                <?php endif; ?>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </span>
                    </p>
                    <p>
                        <a href="javascript: void(0);" class="add-item">Añadir al carrito
                            <span>
                                <img src="<?php echo $_layoutParams['layout_img']; ?>general/add_cart.png" alt="cart-ico" class="ico-small" />
                            </span>
                        </a>
                    </p>
                    <p><a href="javascript:history.back()">Atras</a></p>
                </div>
            </div>
        </article>
        
    </div>
</section>