<section class="sec-color">
    <div>
        <form name="registro-form" method="post" action="<?php echo BASE_URL; ?>compraritems/nuevoCliente" class="formulary">
            <fieldset>
                <legend>Registro</legend>
                <!-- Prpio de un usuario -->
                <input type="email" name="registro-email" value="" placeholder="example@example.com" required="required" />
                <!-- Propio tabla clientes -->
                <input type="text" name="registro-name" value="" placeholder="Tu nombre" required="required" />
                <input type="text" name="registro-apellidos" value="" placeholder="Tus apellidos" required="required" />
                <input type="tel" name="registro-movil" value="" maxlength="9" placeholder="Movil" required/>
                <input type="tel" name="registro-fijo" maxlength="9" value="" placeholder="Fijo" />
                <select id="provincias" name="registro-provincia" required="required">
                    <option value='0'>-- Provincias --</option>
                </select>

                <select id="pueblos" name="registro-pueblo" disabled='disabled'>
                    <option value="pueblo">-- Pueblos --</option>
                </select>
                <input id="cp" type="number" name="cp" value="" placeholder="Código postal" disabled="disabled" />
                <input type="text" name="registro-direccion" value="" placeholder="C/ XXXXXX XX XXX" required="required" />
                <input type="date" name="registro-nacdate" value="" />
                <input type="submit" name="reg-btn" value="Enviar" class="button-primary" />
            </fieldset>
        </form>
    </div>
</section>