<section class="sec-color">
    <header>
        <h3></h3>
    </header>
    
    <table id="lista-pagina-carrito">
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Precio</th>
            <th>stock</th>
            <th>Cantidad</th>
            <th>Precio Total item</th>
        </tr>
        <?php foreach($this->data as $key): ?>
        <tr>
            <?php foreach ($key as $key2 => $value): ?>
            <?php if($key2 != 'id'): ?>           
            <td><?php echo $value; ?></td>
                <?php if($key2 == 'cantidad'): ?>
                <td><?php echo $this->totalPrice[$key['id']]; ?></td>
                <?php endif; ?>
            <?php endif; ?>
            <?php endforeach; ?>
        </tr>
        <?php endforeach; ?>
    </table>
    <br />
    <a href="<?php echo BASE_URL; ?>pdf/pdffactura/<?php echo $this->cod; ?>" target="_blank">Ver factura en PDF y descargarla</a>
    <br />
    <a href="<?php echo BASE_URL; ?>">Volver al inicio</a>
</pre>
</section>