<?php if(isset($this->_error)): ?>
<section class="sec-color">
    <header>
        <h3><?php echo $this->_error; ?></h3>
    </header>
</section>
<?php endif; ?>
<section class="sec-color">
    <header>
        <h3>Datos necesarios para realizar la compra</h3>
    </header>
    <form name="registro-form" method="post" action="<?php echo BASE_URL; ?>compraritems/nuevoCliente" class="formulary">
        <fieldset>
            <legend>Datos de compra</legend>
            <!-- Prpio de un usuario -->
            <input type="email" name="registro-email" value="" placeholder="example@example.com" required="required" />
            <!-- Propio tabla clientes -->
            <input type="text" name="registro-name" value="" placeholder="Tu nombre" required="required" />
            <input type="text" name="registro-apellidos" value="" placeholder="Tus apellidos" required="required" />
            <input type="text" name="registro-codigo" value="" min="0000000000000000" max="9999999999999999" maxlength="16" placeholder="Introduzca el número de tarjeta para realizar el pago. 16 digitos consecutivos" pattern="\S{16}" required="required" />
            <input type="tel" name="registro-movil" maxlength="9" value="" placeholder="Movil" required/>
            <input type="tel" name="registro-fijo" maxlength="9" value="" placeholder="Fijo" />
            <select id="provincias" name="registro-provincia">
                <option value="0" selected>-- Provincias --</option>
            </select>
            <select id="pueblos" name="registro-pueblo" disabled='disabled'>
                <option value="pueblo" selected>-- Pueblos --</option>
            </select>
            <input id="cp" type="number" name="cp" value="" placeholder="Código postal" disabled="disabled" />
            <input type="text" name="registro-direccion" value="" placeholder="C/ XXXXXX XX XXX" required="required" />
            <input type="text" name="registro-nacdate" id="datepicker" value="" placeholder="Seleccione fecha de nacimiento" />
            <input type="submit" name="reg-btn" value="Registrarse" class="button-primary" />
        </fieldset>
    </form>
</section>