<section class="sec-color">
    <header>
        <h3>Datos necesarios para realizar la compra</h3>
    </header>
    
    <form name="registro-form" method="post" action="<?php echo BASE_URL; ?>compraritems/crearFactura/<?php echo $this->user['id_cliente']; ?>" class="formulary">
        <fieldset>
            <legend>Datos de compra</legend>
            <!-- Prpio de un usuario -->
            <input type="text" name="registro-username" value="<?php echo $this->user['username']; ?>"  disabled="disabled" />
            <input type="email" name="registro-email" value="<?php echo $this->user['email']; ?>"  disabled="disabled" />
            <!-- Propio tabla clientes -->
            <input type="text" name="registro-name" value="<?php echo $this->user['nombre']; ?>"  disabled="disabled" />
            <input type="text" name="registro-apellidos" value="<?php echo $this->user['apellidos']; ?>"  disabled="disabled" />
            <input type="text" name="registro-codigo" value="" min="0000000000000000" max="9999999999999999" maxlength="16" placeholder="Introduzca el número de tarjeta para realizar el pago. 16 digitos consecutivos" pattern="\S{16}" required="required" />
            <input type="tel" name="registro-movil" maxlength="9" value="<?php echo $this->user['numero']; ?>" placeholder="Movil" disabled="disabled"/>
            <select id="provincias" name="registro-provincia" disabled="disabled">
                <option value="provincia" selected><?php echo $this->user['provincia']; ?></option>
            </select>
            <select id="pueblos" name="registro-pueblo" disabled='disabled'>
                <option value="pueblo" selected><?php echo $this->user['pueblo']; ?></option>
            </select>
            <input id="cp" type="number" name="cp" value="<?php echo $this->user['cod_postal']; ?>"  disabled="disabled" />
            <input type="text" name="registro-direccion" value="<?php echo $this->user['direccion']; ?>"  disabled="disabled" />
            <input type="text" name="registro-nacdate" id="datepicker" value="<?php echo $this->user['fecha_nacimiento']; ?>"  disabled="disabled" />
            <input type="submit" name="reg-btn" value="Comprar" class="button-primary" />
        </fieldset>
    </form>
</section>