<!-- Formulario de inicio de sesion -->
<?php if(isset($this->_error)): ?>
<div class="sec-color">
    <header>
    <h3><?php echo $this->_error; ?></h3>
    </header>
</div>
<?php endif; ?>
<div class="sec-color flow-wrapper">
    <header class="tam-100">
        <h3>Inicie sesión o regístrese</h3>
    </header>
    <div>
        <form name="login-formn" method="post" action="<?php echo BASE_URL; ?>usuarios/login" class="formulary">
            <fieldset>
                <legend>Inicio de sesión</legend>
                <input type="email" name="login-email" value="" placeholder="example@example.com" required />
                <input type="password" name="login-password" value="" placeholder="********" required />
                <input type="submit" name="login-btn" value="Iniciar sesión" class="button-primary" />
            </fieldset>
        </form>
    </div>
    <div>
    <!-- Formulario de registro -->
        <form name="registro-form" method="post" action="<?php echo BASE_URL; ?>usuarios/registro" class="formulary">
            <fieldset>
                <legend>Registro</legend>
                <!-- Prpio de un usuario -->
                <input type="text" name="registro-username" value="" placeholder="username" required />
                <input type="email" name="registro-email" value="" placeholder="example@example.com" required />
                <input type="password" name="registro-pass" value="" placeholder="********" required />
                <input type="password" name="confirmar" value="" placeholder="********" required />
                <!-- Propio tabla clientes -->
                <input type="text" name="registro-name" value="" placeholder="Tu nombre" />
                <input type="text" name="registro-apellidos" value="" placeholder="Tus apellidos" />
                <input type="tel" name="registro-movil" value="" maxlength="9" placeholder="Movil" />
                <input type="tel" name="registro-fijo" maxlength="9" value="" placeholder="Fijo" />
                <select id="provincias" name="registro-provincia">
                    <option value='0'>-- Provincias --</option>
                </select>
                
                <select id="pueblos" name="registro-pueblo" disabled='disabled'>
                    <option value="pueblo">-- Pueblos --</option>
                </select>
                <input id="cp" type="number" name="cp" value="" placeholder="Código postal" disabled="disabled" />
                <input type="text" name="registro-direccion" value="" placeholder="C/ XXXXXX XX XXX" />
                <input type="text" name="registro-nacdate" id="datepicker" value="" placeholder="Fecha de nacimiento" />
                <input type="submit" name="reg-btn" value="Registrarse" class="button-primary" />
            </fieldset>
        </form>
    </div>
    <a href="<?php echo BASE_URL; ?>">Ir a página de inicio</a>
</div>
