<?php if(isset($this->_error)): ?>
<section class="sec-color">
    <header>
        <h3><?php echo $this->_error; ?></h3>
    </header>
</section>
<?php endif; ?>
<section class="sec-color">
    <header>
        <h3>Modificar cantidad de producto</h3>
    </header>
    
    <form method="POST" action="<?php echo BASE_URL; ?>carrito/editarAccion" class="formulary">
        <input name="data" type="hidden" value="<?php echo $this->item[0]; ?>" />
        <label for="marca">Marca: </label>
        <input name="marca" id="marca" type="text" value="<?php echo $this->item[1]; ?>" disabled="disabled" />
        <label for="modelo">Modelo: </label>
        <input name="modelo" id="modelo" type="" value="<?php echo $this->item[2]; ?>" disabled="disabled" />
        <label for="precio">Precio</label>
        <input name="precio" id="precio" type="number" value="<?php echo $this->item[3]; ?>" disabled="disabled" />
        <label for="stock">Stock disponible: </label>
        <input name="stock" id="stock" type="number" value="<?php echo $this->item[4]; ?>" disabled="disabled" />
        <label for="cantidad">Cantidad: </label>
        <input name="cantidad" id="cantidad" type="number" value="<?php echo $this->item[5]; ?>" required="required" />
        <input type="submit" value="Modificar" name="btn-submit" />
        <a href="<?php echo BASE_URL; ?>">Volver al inicio</a>
    </form>
</section>