<section class="sec-color">
    <?php if(empty($this->carrito)): ?>
    <h3>El carrito esta vacio</h3>
    <?php else: ?>
    <h3>Su carrito</h3>
    <table id="lista-pagina-carrito">
        <tr>
            <th>Marca</th>
            <th>Modelo</th>
            <th>Precio</th>
            <th>stock</th>
            <th>Cantidad</th>
            <th>Precio Total item</th>
            <th></th>
            <th></th>
        </tr>
        <?php foreach($this->carrito as $key): ?>
        <tr>
            <?php foreach ($key as $key2 => $value): ?>
            <?php if($key2 != 'id'): ?>           
            <td><?php echo $value; ?></td>
                <?php if($key2 == 'cantidad'): ?>
                <td><?php echo $this->totalPrice[$key['id']]; ?></td>
                <td><a href="<?php echo BASE_URL; ?>carrito/editarItem/<?php echo $key['id']; ?>"><img src="<?php echo $_layoutParams['layout_img']; ?>general/ic_edit.png" alt="ic-edit" class="ico-small" /></a></td>
                <td><a href="<?php echo BASE_URL; ?>carrito/eliminarItem/<?php echo $key['id']; ?>"><img src="<?php echo $_layoutParams['layout_img']; ?>general/ic_clear.png" alt="ic-delete" class="ico-small"/></a></td>
                <?php endif; ?>
            <?php endif; ?>
            <?php endforeach; ?>
        </tr>
        <?php endforeach; ?>
    </table>
    <br />
    <a href="<?php echo BASE_URL; ?>compraritems">Me lo llevo todo!</a>
    <?php endif; ?>
</pre>
</section>