/* 
    --- Template contruido con propiedad FLEXBOX css3 ---
    Created on : 19-oct-2015, 20:47:59
    Author     : Daniel Fabián <dafaos90@gmail.com>
*/
/***************************************************
    | Responsive design con propiedad Flexbox   |
    | Orden del layout                          |
    | 1. Header                                 |
    | 2. nav o aside izquierdo                  |
    | 3. contenido                              |
    | 4. aside derecho                          |
    | 5. footer                                 |
    |                                           |
    | Refencia:                                 |
    | http://www.w3.org/TR/css-flexbox-1/       |
****************************************************/
html, body, div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, img, ins, kbd, q, s, samp, small, strike, 
strong, sub, sup, tt, var, b, u, i, center, dl, dt, 
dd, ol, ul, li, fieldset, form, label, legend, table, 
caption, tbody, tfoot, thead, tr, th, td, article, aside, 
canvas, details, embed, figure, figcaption, footer, header,
hgroup, menu, nav, output, ruby, section, summary, 
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    width: auto;
}
body{
    text-align: justify;
    color: black;
    background-color: black;
}
a{ text-decoration: none; }
.wrapper {/* Contenedor Flex principal */
    display: flex;
    flex-flow: row wrap;
    width: 94%;/* Asi queda cuadrado con el listado del carrito */
    min-width: 250px;
    margin: 0 auto;
    color: black;
    background-color: transparent;
}
.header, .main, .nav, .aside, .footer {flex: 1 100%; }
/* Header */
.header{
    display: flex;
    flex-direction: column;
    padding: 5px 5px 0 5px;
}
.header hr {width: 100%; }

/* Menu */
nav ul li{
    list-style: none;
    display: block;
}
nav ul li a{
    display: block;
    min-height: 36px;
    height: auto;
    width: 100%;
}
nav ul li img{
    position: relative;
    top: 6px;
    padding-left: 10px;
    padding-right: 8px;
}
.sub-menu li img{
    padding-left: 30px;
    padding-right: 8px;
}
#main-menu li,
.sub-menu li {
    min-height: 40px;
    height: auto;
}
.sub-menu li{ display: none !important; }
nav ul#main-menu li:hover > ul li{
    display: block !important;
}
/* Paginador pié contenido */
.paginador{
    margin-top: 25px;
    text-align: center;
}
.paginador ul{
    text-align: center;
}
.paginador ul li{
    display: inline;
    list-style: none;
    padding-left: 3px;
    padding-right: 3px;
}

.paginadores{
   margin: 0 auto;
   width: 40%;
   margin-top: 25px;
   text-align: center; 
}
/* Pantallas mayores 800px */
@media all and (min-width: 801px) {
    .main { flex: 2; }/* Tamaño caja  */
    .aside-1 { order: 1; }/* Orden de colocación de elementos flexibles */
    .main    { order: 2; }
    .aside-2 { order: 3; }
    .footer  { order: 4; }
    .aside { flex-basis: 5%;}/* Necesario para mostrar aside correctamente en chrome*/
}
/* Dispositivos pequeños menores a 800px */
@media all and (max-width: 800px){
    .header{
        /* Es necesario para cambiar la orientacion de cajas */
        flex-direction: column;
        text-align: center;
    }
    /* Nav RD */
    ul#main-menu{ display: none; }/* Menu formato movil */
    nav:hover > #main-menu{
        display: block;
    }
}
/* Patron de colos y tamaños */
.button-success,
.button-error,
.button-warning,
.button-secondary,
.button-primary {
    color: white;
    border-radius: 4px 4px 4px 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-success { background: rgb(28, 184, 65); /* verde */ }
.button-error { background: rgb(202, 60, 60); /* rojo */ }
.button-warning { background: rgb(223, 117, 20); /* naranja */ }
.button-secondary { background: rgb(66, 184, 221); /* azul clarito */ }
.button-primary{ background-color: #0078e7; }
/* Tamaños de boton */
.button-xsmall { font-size: 70%; }
.button-small { font-size: 85%; }
.button-large { font-size: 110%; }
.button-xlarge { font-size: 125%; }
/* Tamaño iconos */
.ico-small { 
    width: 24px !important;
    height: 24px !important;
}
.ico-large {
    width: 32px !important;
    height: 32px !important;
}
.ico-xlarge {
    width: 48px !important;
    height: 48px !important;
}