<!DOCTYPE html>
<html>
    <head>
        <title><?php echo $this->titulo; ?></title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="<?php echo $_layoutParams['layout_css']; ?>layout.css" />
        <link rel="stylesheet" type="text/css" href="<?php echo $_layoutParams['public_css']; ?>backend.css" />
        <!--<script src="resources/js/jquery-1.11.3.js" type="text/javascript"></script>
        <script src="resources/js/functions.js" type="text/javascript"></script>-->
    </head>
    <body>
        <!-- Contenedor para facilitar uso de propiedad flex -->
        <div class="wrapper">
            <!-- Contenido -->
            <section class="main">
                <form action="<?php echo BASE_URL; ?>backend/login" method="post" class="login-admin-form">
                    <fieldset>
                        <legend>Acceder al panel de administrador</legend>
                        <h3><?php if(isset($this->_error)) echo $this->_error; ?></h3>
                        <label for="">Email</label>
                        <input type="text" name="email-login" value="" placeholder="example@example.com" required />
                        <label for="">Password</label>
                        <input type="password" name="password-login" value="" placeholder="********" required />
                        <div>
                            <input type="submit" name="login-btn" value="Iniciar sesión" class="button-primary" />
                            <button><a href="<?php echo BASE_URL; ?>">Ir a página de inicio</a></button>
                        </div>
                    </fieldset>
                </form>
            </section>
        </div>
    </body>
</html>