<div class="slide-container sec-color">
    <div class="slide-content">
        <ul id="slider">
            <li class="current-slide">
                <img src="<?php echo $_layoutParams['public_img']; ?>slider/slide_1.jpg" alt="slide_1" />
                <div class="fig-caption">
                    <h3>Título slide 1</h3>
                    <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
                </div>
            </li>
            <li>
                <img src="<?php echo $_layoutParams['public_img']; ?>slider/slide_2.jpg" alt="slide_2" />
                <div class="fig-caption">
                    <h3>Título slide 2</h3>
                    <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
                </div>
            </li>
            <li>
                <img src="<?php echo $_layoutParams['public_img']; ?>slider/slide_8.jpg" alt="slide_3" />
                <div class="fig-caption">
                    <h3>Título slide 3</h3>
                    <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
                </div>
            </li>
            <li>
                <img src="<?php echo $_layoutParams['public_img']; ?>slider/slide_4.jpg" alt="slide_4" />
                <div class="fig-caption">
                    <h3>Título slide 4</h3>
                    <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
                </div>
            </li>
            <li>
                <img src="<?php echo $_layoutParams['public_img']; ?>slider/slide_5.jpg" alt="slide_5" />
                <div class="fig-caption">
                    <h3>Título slide 5</h3>
                    <p>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="slide-control">
        <ul>
            <li class="current-control-slide"></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>

<section class="news">
    <header>
        <h3 class="sec-color">Últimas notícias</h3>
    </header>

    <!-- Mostrar seccion noticias -->
    <div class="news-wrapper">
        <?php foreach ($this->noticias as $noticia): ?>
        <article class="sec-color">
            <header><h4><?php echo $noticia['titulo']; ?></h4></header>
            <figure>
                <img src="<?php echo BASE_URL . $noticia['img_url']; ?>" alt="<?php echo $noticia['titulo']; ?>" />
            </figure>
            <div>
                <div>
                    <p>Última modificación: <?php echo $noticia['fecha_modificacion']; ?></p>
                </div>
                <p><?php echo $noticia['cuerpo'] ?></p>
                <div>
                    <p><a href="<?php echo BASE_URL; ?>noticias/vernoticia/<?php echo $noticia['id_noticia']; ?>">Ver Notícia</a></p>
                </div>
            </div>
        </article>
        <?php endforeach; ?>
    </div>

</section>

<section class="articulos sec-color">
    <header>
        <h3 class="sec-color">Artículos destacados</h3>
    </header>
    <div>
       <?php foreach ($this->articulos as $articulos): ?>
        <div class="art-wrapper">
            <figure><img src="<?php echo BASE_URL . $articulos['img_url']; ?>" 
                         alt="<?php echo $articulos['modelo']; ?>" />
            </figure>
            <div class="producto">
                <p><?php echo $articulos['id_producto']; ?></p>
                <p><?php echo $articulos['marca']; ?></p>
                <p><?php echo $articulos['modelo']; ?></p>
                <p class="precio-item"><?php echo $articulos['precio']; ?> €</p>
                <p>Stock: <span><?php echo $articulos['stock']; ?></span></p>
                <p >Cantidad: 
                    <span>
                        <?php if ($articulos['stock'] == 0): ?>
                        <select class="cantidad-item" disabled>
                            <option value="0" selected="selected">0</option>
                        <?php else: ?>
                        <select class="cantidad-item">
                            <option value="1" selected="selected">1</option>
                            <?php for($i=2; $i<=$articulos['stock']; $i++): ?>
                            <option value="<?php echo $i; ?>"><?php echo $i; ?></option>
                            <?php endfor; ?>
                            <?php endif; ?>
                        </select>
                    </span>
                </p>
                <p>
                    <a href="javascript: void(0);" class="add-item">Añadir al carrito
                        <span>
                            <img src="<?php echo $_layoutParams['layout_img']; ?>general/add_cart.png" alt="cart-ico" class="ico-small" />
                        </span>
                    </a>
                </p>
                <p><a href="<?php echo BASE_URL; ?>skateboard/verProducto/<?php echo $articulos['id_producto']; ?>">Ver articulo</a></p>
            </div>
        </div>
        <?php endforeach; ?>
    </div>
</section>


