<section class="sec-color">
<h1><?php if(isset($this->mensaje)) echo $this->mensaje; ?></h1>

<?php if($this->key == '404'): ?>
    <img src="<?php echo $_layoutParams['layout_img']; ?>err/error404.jpg" alt="error404"/>
    <br />
    <br />
<?php endif; ?>


<a href="<?php echo BASE_URL; ?>">Ir inicio</a>
</section>